<p id="notice"><%= notice %></p>

<h1>Listing Species Pictures</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @species_pictures.each do |species_picture| %>
      <tr>
        <td><%= link_to 'Show', species_picture %></td>
        <td><%= link_to 'Edit', edit_species_picture_path(species_picture) %></td>
        <td><%= link_to 'Destroy', species_picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Species picture', new_species_picture_path %>
