<div class="popover-inner" id="species-popover-initial">
  <% unless (browser.mobile? || browser.tablet?) %><i id="overlay-close" class="icon-cancel"></i><% end %>
  <div class="images">
    <% if @species_selected.images.length == 0 %>
      <img src="<%= image_path 'not_found_original.png' %>" width=250px height=400px>
    <% elsif %>
      <% @species_selected.images.each do |image| %>
        <a href="<%= image.image.url(:original) %>" target="_blank">
          <img src="<%= image.image.url(:original) %>">
        </a>
      <% end %>
    <% end %>
  </div>
  <div class="content">
    <% if (browser.mobile? || browser.tablet?) %><i id="overlay-close" class="icon-cancel mobile"></i><% end %>
    <div class="title"><%= @species_selected.genusSpecies %> <%= @species_selected.authority %></div>
    <div class="subtitle"><%= @species_selected.commonName %></div>
    <% unless (browser.mobile? || browser.tablet?) %><a class="twitter-share-button" href="https://twitter.com/share" data-via="CampusFloraAus" data-text="<%= @species_selected.genusSpecies %>" data-count="none"></a><% end %>
    <div class="family"><abbr class="heading">Family name</abbr><br /><%= @species_selected.family.name %></div>
    <div class="description"><abbr class="heading">Description</abbr><br /><%= @species_selected.html_link_description %></div>
    <div class="distribution"><abbr class="heading">Distribution</abbr><br /><%= @species_selected.distribution %></div>
    <div class="information"><abbr class="heading">Information</abbr><br /><%= @species_selected.information %></div>
  </div>
</div>


<script>
  $("#overlay-close").on('click', function() {
    $('#overlay-dark, #popover-outer').removeClass('selected')
    setTimeout(function() {
      $('#overlay-dark,#popover-outer').css('display', 'none')
      $("#species-popover-initial").remove()
      window.history.pushState('CampusFlora', 'Flora locations and information at Sydney Uni Campus - CampusFlora', window.location.protocol + "//" + window.location.host);
    }, 200);
  });
</script>