<% unless browser.mobile? %>
  <div id="overlay-dark" class="overlay-dark<%= @species_selected ? ' selected' : '' %>" <%= @species_selected ? 'style=display:block' : '' %>></div>
<% end %>
<div id="popover-outer" class="popover-outer<%= @species_selected ? ' selected' : '' %>" <%= @species_selected ? 'style=display:block' : '' %>>
  <% if @species_selected %>
    <%= render 'species/popover' %>
  <% end %>
  <div class="height-fix"></div>
</div>

<div id="popover-about-outer" class="popover-outer">
  <div class="height-fix"></div>
  <div id="popover-about-inner" class="popover-inner about">
    <i id="overlay-close" class="icon-cancel"></i>
    <div class="images">
      <img src="<%= image_path 'about_original.png' %>" width=250px height=400px>
    </div>
    <div class="content">
      <h1>About</h1>
      <p>Campus Flora maps the locations of more than 2000 individual plants from over 70 families on campus grounds and provides a botanical description of each plant and information on its distribution. Campus Flora not only extends the teaching of botany from the classroom into the University of Sydney campus grounds but it enables us to share our learning resources with the broader community.</p>

      <p>“Trails” highlight the important aspects of select plant groups and we have initially developed these to align with the current botanical curriculum. We encourage those using Campus Flora to provide us with feedback: each species page allows users to offer feedback, and we will use this to shape future versions and develop additional trails.</p>
     
      <p>The project team acknowledges the support of the School of Biological Sciences and University grounds staff.</p>
     
      <p>Project team:  Rosanne Quinnell, Lachlan Pettit, Matthew Pye, Angela Pursey, Xiaolong Wang, Nic Barker, Caroline Cheung, Grant Zeng.</p>  
    </div>
  </div>
</div>

<% unless browser.mobile? %>
  <a href="http://sydney.edu.au">
    <div id="usyd-logo" class="usyd-logo">
      <%= image_tag 'usyd-logo.png' %>
    </div>
  </a>
<% end %>

<div id="inner-container" class="inner-container<%= browser.mobile? && browser.safari? ? ' ios' : '' %>">
  <div id="map-canvas" class="map-canvas"></div>
  <div id="overlay-buttons" class="overlay-buttons">
    <% if browser.mobile? %> 
      <%= render 'map/menu_mobile.html.erb' %>
    <% else %>
      <%= render 'map/menu_desktop.html.erb' %>
    <% end %>
  </div>
  <div id="side-menu" class="side-menu">
    <div id="tab-button-outer" class="tab-button-outer">
      <div id="tab-button-families" class="tab-button selected">Families</div>
      <div id="tab-button-trails" class="tab-button">Trails</div>
      <div id="tab-button-list" class="tab-button">List</div>
    </div>
    <div id="menu-content-container" class="menu-content-container">
      <div id="menu-content-families" class="menu-content families">
        <div id="family-select-all" class="selection-option">Select All</div>
        <div id="family-unselect-all" class="selection-option">Unselect All</div>
      </div>
      <div id="menu-content-trails" class="menu-content trails">
      </div>
      <div id="menu-content-list" class="menu-content list">
        <div class="search-box-outer">
          <i class="icon-search"></i>
          <i class="icon-cancel-circled hidden"></i>
          <input type="text" class="search-box" placeholder="Search" autocomplete="off"></input>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  if (HOMESCREEN_INSTALLED) {
    $('#inner-container.ios').addClass('homescreen');
  }

  // Handle the about popup
  $('#about').on('click', function() {
      $('#overlay-dark,#popover-about-outer').css('display', 'block');
      // After a delay of 50 ms, add the class to allow the CSS transition to kick in at the next render loop
      setTimeout(function() {
        $('#overlay-dark,#popover-about-outer').addClass('selected');
      }, 50);
  });

  $("#popover-about-outer #overlay-close").on('click', function() {
    $('#overlay-dark, #popover-about-outer').removeClass('selected')
    setTimeout(function() {
      $('#overlay-dark, #popover-about-outer').css('display', 'none')
    }, 200);
  });

  function init() {
    var mapManager = new MapManager;
    // Initialize the mapManager and get the google map
    var map = mapManager.initialize();
    var speciesManager = new SpeciesManager;
    speciesManager.initialize(<% cache 'map_index_json' do %><%= raw render(:partial => 'map/index.json', :locals => { :species => @species}) %><% end %>, <%= raw @trails %>, <%= raw @families %>, map);
  }

  // Configure fastclick.js to remove mobile input delay on touch
  if ('addEventListener' in document) {
    document.addEventListener('DOMContentLoaded', function() {
        FastClick.attach(document.body);
    }, false);
  }
</script>