<% unless browser.mobile? %>
  <div id="overlay-dark" class="overlay-dark"></div>
<% end %>
<div id="popover-outer" class="popover-outer">
  <div class="height-fix"></div>
</div>

<div id="inner-container" class="inner-container<%= browser.mobile? && browser.safari? ? ' ios' : '' %>">
  <div id="map-canvas" class="map-canvas"></div>
  <div id="overlay-buttons" class="overlay-buttons">
    <% if browser.mobile? %> 
      <%= render 'map/menu_mobile.html.erb' %>
    <% else %>
      <%= render 'map/menu_desktop.html.erb' %>
    <% end %>
  </div>
  <div id="side-menu" class="side-menu">
    <div id="tab-button-outer" class="tab-button-outer">
      <div id="tab-button-families" class="tab-button selected">Families</div>
      <div id="tab-button-trails" class="tab-button">Trails</div>
      <div id="tab-button-list" class="tab-button">List</div>
    </div>
    <div id="menu-content-container" class="menu-content-container">
      <div id="menu-content-families" class="menu-content families">
        <div id="family-select-all" class="selection-option">Select All</div>
        <div id="family-unselect-all" class="selection-option">Unselect All</div>
      </div>
      <div id="menu-content-trails" class="menu-content trails">
      </div>
      <div id="menu-content-list" class="menu-content list">
        <div class="search-box-outer">
          <i class="icon-search"></i>
          <i class="icon-cancel-circled hidden"></i>
          <input type="text" class="search-box" placeholder="Search" autocomplete="off"></input>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  if (HOMESCREEN_INSTALLED) {
    $('#inner-container.ios').addClass('homescreen');
  }

  function init() {
    var mapManager = new MapManager;
    // Initialize the mapManager and get the google map
    var map = mapManager.initialize();
    var speciesManager = new SpeciesManager;
    speciesManager.initialize(<%= raw render(:template => 'map/index.json', :locals => { :species => @species}) %>, <%= raw @trails %>, <%= raw @families %>, map);
  }

  // Configure fastclick.js to remove mobile input delay on touch
  if ('addEventListener' in document) {
    document.addEventListener('DOMContentLoaded', function() {
        FastClick.attach(document.body);
    }, false);
  }
</script>