<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CampusFlora</title>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTx22Wqc5vDQTHX-bUY3cJbwO1TwDiAXE"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
    <script>
      var IMG_NOT_FOUND_SMALL = '<%= image_path 'not_found_small.png' %>'
      var IMG_NOT_FOUND_ORIGINAL = '<%= image_path 'not_found_original.png' %>'
    </script>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
  <%= render 'templates/map' %>
  <%= render 'templates/species' %>

  <!-- Google analytics tracking code -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49103924-2', 'auto');
    ga('send', 'pageview');

  </script>
</html>