<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Customise apple "Add to home screen" styles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-startup-image" href="">
    <link rel="apple-touch-icon" href="<%= image_path 'ios_home_screen/iphone.png' %>" />
    <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path 'ios_home_screen/ipad.png' %>" />
    <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path 'ios_home_screen/iphone_retina.png' %>" />
    <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path 'ios_home_screen/ipad_retina.png' %>" />

    <!-- Startup images -->
    <!-- iOS 6 & 7 iPad (retina, portrait) --> 
    <link href="<%= image_path 'ios_home_screen/startup_1536x2008.png' %>" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
     
    <!-- iOS 6 & 7 iPad (retina, landscape) -->
    <link href="<%= image_path 'ios_home_screen/startup_1496x2048.png' %>" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
     
    <!-- iOS 6 iPad (portrait) -->
    <link href="<%= image_path 'ios_home_screen/startup_768x1004.png' %>" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
     
    <!-- iOS 6 iPad (landscape) -->
    <link href="<%= image_path 'ios_home_screen/startup_748x1024.png' %>" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image">
     
    <!-- iOS 6 & 7 iPhone 5 -->
    <link href="<%= image_path 'ios_home_screen/startup_640x1096.png' %>" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
     
    <!-- iOS 6 & 7 iPhone (retina) -->
    <link href="<%= image_path 'ios_home_screen/startup_640x920.png' %>" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
     
    <!-- iOS 6 iPhone -->
    <link href="<%= image_path 'ios_home_screen/startup_320x460.png' %>" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" rel="apple-touch-startup-image"> 

    <title>CampusFlora</title>
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTx22Wqc5vDQTHX-bUY3cJbwO1TwDiAXE"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
    <script>
      var IMG_NOT_FOUND_SMALL = '<%= image_path 'not_found_small.png' %>'
      var IMG_NOT_FOUND_ORIGINAL = '<%= image_path 'not_found_original.png' %>' 
      // Define the retina variable to supplant images
      var IS_RETINA = window.devicePixelRatio > 1;
      // Define whether the browser is mobile or not - we're showing tablets the mobile view
      var IS_MOBILE = <%= browser.mobile? || browser.tablet? %>
      var IS_IOS = <%= browser.mobile? && browser.safari? %>
      var HOMESCREEN_INSTALLED = !(("standalone" in window.navigator) && !window.navigator.standalone)
    </script>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
  <%= render 'templates/map' %>
  <%= render 'templates/species' %>

  <!-- Google analytics tracking code -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49103924-2', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- Twitter integration -->
  <script>
    window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
     
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
     
      return t;
    }(document, "script", "twitter-wjs"));
  </script>

  <script>
  </script>
</html>